@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wht@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none;
    color: #FEA609;
}

body{
    background-color: #4E4E4E;
    height: 100vh;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight: 500;
    letter-spacing: .02;
    transition: .5s ease;
}

.navbar a:hover,a.active{
    color: white;
}