@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wht@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none;
    color: white;
}

body{
    background-color: #4E4E4E;
    height: 100vh;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/* <!-----------------------NavBar-----------------------> */

.header{
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#menu{
    color: #FEA609;
    font-size: 2.5rem;
    display: none;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    color: #FEA609;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight: 500;
    letter-spacing: .02;
    transition: .5s ease;
    
}

.navbar a:hover,a.active{
    color: white;
}

/* <!-----------------------Home Section-----------------------> */

section{
    padding: 10rem 9% 2rem;
    min-height: 90vh;
}

.home{
    display: flex;
    justify-content: left;
    align-items: center;
}

.text-content{
    max-width: 90rem;
}

.text-content h1{
    font-size: 70px;
    color:white;
    text-transform: capitalize;
    letter-spacing: .05rem;
    font-weight: 600;
}

.text-animation{
    position: relative;
    width: 55rem;
}

.text-content h4{
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.text-content h3{
    font-size: 40px;
    font-weight: lighter;
    color: white;
}

.btn-selection{
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.btn-selection .btn{
    height: 75%;
    width: 15rem;
    color: white;
    font-size: 16px;
    font-weight: 100;
    background-color: #FEA609;
    border-radius: .8rem;
    cursor: pointer;
}

.btn-selection .btn:hover{
    background-color: white;
    color: #4E4E4E;
    font-weight: bolder;
}

.social-media{
    margin:  2rem 0;
}

.social-media i{
    display: inline-block;
    font-size: 2rem;
    padding:  4 .8rem;
    margin: 0 .5rem;
    cursor: pointer;
    color: #fff;
}

.social-media i:hover{
    color: #FEA609;
}

.home img{
    width: 30vw;
    height: 30vw;
    margin-left: 10%;
    background: #4E4E4E;
    border: .5rem solid #FEA609;
    border-radius: 50%;
    object-position: cover;
    position: relative;
    
}

/* <!-----------------------About Section-----------------------> */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem;
    gap: 2rem;
}

.title{
    font-size: 5rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
}

.title span{
    color: #FEA609;
}

.about img{
    width: 30vw;
    height: 30vw;
    background: #4E4E4E;
    border: .5rem solid #FEA609;
    align-self: start;
    border-radius: 50%;
    object-position: cover;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-container {
    flex-basis: 60%;
}

.title-1{
    font-size: 35px;
    margin-top: 5%;
}

.title-2{
    font-size: 16px;
    margin-top: 5%;
}

.title-3{
    font-size: 19px;
}

.btn-selection-1{
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 50%;
    margin-top: -7%;
}

.btn-selection-1 .btn{
    height: 75%;
    width: 15rem;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    background-color: #FEA609;
    border-radius: .8rem;
    cursor: pointer;
    margin-left: 75%;
}

.btn-selection-1 .btn:hover{
    background-color: white;
    color: #4E4E4E;
    font-weight: bolder;
}


